<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
<h1>ASK Page</h1>
        
        <%- include('./partial/footer.ejs') %>
</body>
</html>