<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <main align="center">

        <h1 align="center">A S SILKS Company</h1>

       

            <p class="p-1">
                A.S. Silks is a leading international export and import company specializing in silk raw material and silk thread. We committed to providing customers with the highest quality products and services at competitive prices.
                
            </p>
            <p class="p-2">
                A S Silks raw material from some of the best silk producing regions in the world, including China, India, and Japan. We process and export the silk raw material to customers all over the world. Our company import silk thread from various countries and sell it to their customers in India.
            </p>
       

        <div class="list-of-product">
            <h3 align="center">We offer a wide range of silk raw material and silk thread products, including:</h3>
            <ul style="display:inline-block; line-height: 30px; font-size: 1rem; margin: 10px auto;">
                <li>Mulberry silk yarn</li>
                <li>Tussar silk yarn</li>
                <li>Eri silk yarn</li>
                <li>Raw silk cocoons</li>
                <li>Silk waste</li>
            </ul>
        </div>
        <p class="p-3">
            We offer a variety of value-added services, such as dyeing, weaving, and printing. We are committed to helping our customers create high-quality silk products that meet their specific needs.
        </p>
    </main>
        
        <%- include('./partial/footer.ejs') %>
</body>
</html>