<div class="navbar" style="display: flex; justify-content: space-evenly; align-items: center;">
    <logo class="logo">A S SILKS</logo>
    <div class="navigation">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>